{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="about">
    <h2>What is Pelican?</h2>
    <p>Pelican is a private chat program with a community focus. All developers work on this project for fun and no monetary gain however you can donate if you wish at (insert link) to help with developement. The project aims to create software that has the ease and performance of discord, the security of matrix and a unique level of customisability never seen before. The project has a small team of less then 10 developers so updates may be slow however this is to ensure quality over quantity. We hope you end up loving the proect as much as we all do and have a great experience! It has been and is going to be a brilliant experience as some devs on our team are actually taking this as their first major coding project, especially one that has such heavy networking and a need for several coding languages to function to an acceptable degree. <br>-The pelican dev team </p>
</div>
<div class="center">
    <img src="{% static 'images/pelican-banner.png' %}" alt="Pelican Banner">
</div>
{% endblock %}