{% extends "main/base.html" %}
{% load static %}
{% block content %}
<div class="row">
    <div class="column medium-text">
        <h2>Support</h2>
        <p>Need support for pelican but don't know who to ask? Don't worry because we pelican. Our teams support group can be found at <a href="https://www.example.com" target="_blank">https://www.example.com</a> and any other helpful support links or numbers can be found in the "helpful info" section on this page. Bugs can be reported for a cool badge next to your name when you next log in to Pelican! </p>
    </div>
    <div class="column medium-text">
        <h2>Helpful info</h2>
        <p>Add a list of support numbers emails etc here</p>
    </div>
</div>
{% endblock %}