{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<style>
.row {
    display: flex;
    justify-content: center;
    font-size: 270%;
    font-family: 'Trebuchet MS', sans-serif;
}
</style>
<div class="row">
    <div class="column">
        {% if logged_in %}
            <h3>Successfully logged out.</h3>
            <p>If you want to login again, click <a href="{% url 'login' %}">here</a>.</p>
        {% else %}
            <h3>You are not currently logged in.</h3>
            <p>If you want to login, click <a href="{% url 'login' %}">here</a>.</p>
        {% endif %}
    </div>
</div>
{% endblock %}