* {
  box-sizing: border-box;
}
  
body {
  margin: 0;
  padding: 0;
  background-color: #1d202c;
}

.theform {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.php {
  color:rgb(255, 255, 255);
  }