body {
    background-color: #292C3D;
    margin: 0;
    padding: 0;
}

.shell {
    width: 90%;
    height: 90%;
}

#display {
    width: 90%;
    height: 300px;
    padding: 20px;
    background-color: #292C3D;
    overflow: scroll;
    overflow-x: hidden; 
    color: white;
    border: 2px solid white;
}

#cmdline {
    width: 640px;
    height: 30px;
    border: none;
}

#btn {
    border: none;
    height: 30px;
    background-color: white;
}

#btn:hover {
    cursor: pointer;
}

#cmdline:focus {
    outline: none;
}